html{
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
}
header{
    height: 130px;
}
    #logo{
        width: 50px;
        height: 50px;
        padding: 0rem;
    }
    .navbar-nav{
        width: 50px;
        height: 50px;
        margin-left: 5px;
        padding-left: 200px;
        margin-top: 20px;

        #notify{
            width: 28px;
            height: 28px;
            padding-left: 0;
        }
        #search{
            width: 50px;
            height: 50px;
            padding: 6px;
            margin: 0rem;
        }
        #man{
            width: 35px;
            height: 35px;
            padding-left: 10px;
        }
    }
    .carousel-control-prev-icon{
        background-color: brown;
    }
    .carousel-item .active{
        padding-left: 50px;
    }
    .carousel-item{
        padding-left: 3rem;
      
    }
    .svgIcon-use{
        margin-top: 25px;
        width: 35px;
        height: 35px;
    }
.bigCard{
    img{
        width: 100%;
        height: auto;
    }
    .bigCardInfo{
        width: 65%;
        >p{
            color: gray;
        }
        h5{
            margin-top: 10px;
            font-size: 21px;
        }
        .belowEachCardImage{
            display: flex;
            justify-content: space-between;
            font-size: 13px;
            .moreInfo{
                p{
                    line-height: 5px;
                }
                p:nth-of-type(2){
                    color: gray;
                }
            }
            .icons{
                display: flex;
                left: 25px;
                top: 10px;
                i{
                    color: gray;
                    transform: scale(1.4);
                }
                i:first-of-type{
                    margin-right: 20px;
                }
            }
        }
    }
}
.cardsBelow{
    display: flex;
    margin-top: 40px;
    h5{
        font-size: 18px;
        position: relative;
        top: 15px;
    }
    .moreInfo{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .basedOn{
            color: gray;
            font-size: 12px;
        }
        .summary{
            font-size: 13px;
            top: 30px;
            color: gray;
        }
        p:first-of-type{
            position: relative;
            top: 40px;
        }
        p{
            font-size: 13px;
        }
        p:nth-of-type(2){
            color: gray;
            position: relative;
            top: 30px;
        }
    }
    .icons{
        display:flex;
        align-items: flex-end;
        margin-right: 17px;
        top: 10px;
        i{
            color: gray;
        }
        i:first-of-type{
            margin-right: 10px;
        }
    }
    .shorterImages{
        height: 70%;
        width: 35%;
        top: 20px;
    }
}
#anchor{
    top: 50px;
    left: 10px;
    font-weight: 400;
    font-size: 13px;
    color: rgb(27, 201, 42);
    a{
        color: rgb(27, 201, 42);
    }
}
hr{
    margin-top: 70px;
}
.toggleClass{
    display: none;
}

// Mauro
.bigCard{
    img{
        width: 100%;
        height: auto;
    }
    .bigCardInfo{
        width: 65%;
        >p{
            color: gray;
        }
        h5{
            margin-top: 10px;
            font-size: 21px;
        }
        .belowEachCardImage{
            display: flex;
            justify-content: space-between;
            font-size: 13px;
            .moreInfo{
                p{
                    line-height: 5px;
                }
                p:nth-of-type(2){
                    color: gray;
                }
            }
            .icons{
                display: flex;
                left: 25px;
                top: 10px;
                i{
                    color: gray;
                    transform: scale(1.4);
                }
                i:first-of-type{
                    margin-right: 20px;
                }
            }
        }
    }
}
.cardsBelow{
    display: flex;
    margin-top: 40px;    
    h5{
        font-size: 18px;
        position: relative;
        top: 15px;
    }
    .moreInfo{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .basedOn{
            color: gray;
            font-size: 12px;
        }
        .summary{
            font-size: 13px;
            top: 30px;
            color: gray;
        }
        p:first-of-type{
            position: relative;
            top: 40px;
        }
        p{
            font-size: 13px;
        }
        p:nth-of-type(2){
            color: gray;
            position: relative;
            top: 30px;
        }
    }
    .icons{
        display:flex;
        align-items: flex-end;
        margin-right: 17px;
        top: 10px;
        i{
            color: gray;
        }
        i:first-of-type{
            margin-right: 10px;
        }
    }
    .shorterImages{
        height: 70%;
        width: 35%;
        top: 20px;
    }
}
#anchor{
    top: 50px;
    left: 10px;
    font-weight: 400;
    font-size: 13px;
    color: rgb(27, 201, 42);
    a{
        color: rgb(27, 201, 42);
    }
}
hr{
    margin-top: 70px;
}
.toggleClass{
    display: none;
}

// Haro

.aside{
    hr{
      margin-top: 1em;
      margin-bottom: 2rem;
    }
    .popular-on-medium{
      margin: 0;
      padding: 0;
      // margin-left: -2rem;
      width: 100%;
      .contenedor-li{
        .numero{
          color: lightgray;
          font-size: 25px;
          font-weight: medium;
          margin-top: -8px;
        }
        .contenido{      
          line-height: 1.3rem;
          margin-left: 1rem;
          .popular-primer-a{
            color: #000000D6;
            font-weight: 500;
            cursor: pointer;
          }
          .popular-primer-p{
            color: #000000D6;
            font-size: .9rem;
            margin-bottom: 0;
            a{
              color: #000000D6;
              font-size: .9rem;
              cursor: pointer;
            }
          }  
          .popular-segundo-p{
            font-size: .9rem;
            color: #0000008A;
          }
          .estrella{
            width: .7rem;
            fill: #ffffff;
          }                     
        }
      } 
    }  
    footer{
      // display: none;
      hr{
        margin-top: 3rem;
        margin-bottom: .5rem;
        margin-left: -1rem;
      }
      ul{
        margin-left: -1rem;
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        li{
          margin: 0 15px 0 0;        
          a{
            color: #0000008A;
            font-size: 13px;
            cursor: pointer;
          }
        }
      }
    }
  }
.haroContainer{
    margin-top: 20px;
}
footer{
    display: none;
}


@media only screen and (min-width:1200px){
#anchor{
    left: 120px;
}
#crossedHr{
    width: 72vw;
    position: relative;
    right: 760px;
}
    .card-bottom-mobile{
        display: none;
    }
    .toggleClass{
        display: block;
        position: relative;
        top: -5px;
        width: 350px;
        img{
            width: 80%;
        }
    }
    .imagesAbove{
        position: relative;
        top: -42px;
        width: 10px;
    }
    .imagesAbove{
        .cardsBelow{
            flex-direction: row-reverse;
            margin-top: 20px;
            position: relative;
            top: 20px;
            .icons{
                order: -1;
                top: -20px;
                i:first-of-type{
                    display:none;
                }
            }
            .moreInfo{
                position: relative;
                top:-18px;
                left: 25px;
                p{
                    line-height: 15px;
                }
            }
            img{
                width: 50%;
            }
        }
    }
    .bigCard{
        img{
            height: 134px;
        }
        .bigCardInfo{
            .belowEachCardImage{
                .moreInfo{
                    p{
                        line-height: 15px;
                    }
                } 
                .icons{
                    .far{
                        display: none;
                    }
                    .fas{
                        position: relative;
                        left: 20px;
                    }
                }
            }
        }
        .aboveMove{
            position: relative;
            left: 50px;
        }
    }
    .content{
        .haroContainer{
            .aside{
                // color: yellow;
                position: -webkit-sticky;  // required for Safari
                position: sticky;
                top: -30px; // required as well.
                margin: auto;
            }
            h4{
                display: flex;
                margin-left: auto;                
            }  
            hr{
                // width: 80%;
                // position: relative;
                right: 40px;
            }
            footer{
                display: block;
            }
        }
        
    }   
    
}
